.container {
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.password-input-container {
  display: flex;
  flex-direction: column;
}

.input-with-button {
  display: flex;
  align-items: center;
  position: relative;
}

.eye-icon {
  font-size: 18px;
  color: #555;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
}

@media only screen and (max-width: 800px) {

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.1rem;
  }
}