body {
    background-color: var(--c-2);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.all-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.conference-list-container {
    width: 35%;
    margin: 0 30px;
}

.conference-list {
    list-style: none;
    padding: 0;
}

.conference-item {
    cursor: pointer;
    border: 1px solid var(--c-5);
    border-radius: 5px;
    margin: 0 10px 10px 10px;
    padding: 10px;
    background-color: var(--c-5);
    color: black;
}

.conference-item:hover {
    cursor: pointer;
    border: 1px solid var(--c-1);
    margin: 0 10px 10px 10px;
    padding: 10px;
    background-color: var(--c-1);
    color: white;
}

.conference-item.selected {
    border: 3px solid var(--c-6);
}

.selected-conference {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #3a4262;
    color: black;
    background-color: #ffffff;
}

.promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    width: 35%;
    height: fit-content;
    padding: 20px 15px;
    margin: 47px 10px;
    border-radius: 5px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.submit-button {
    margin-right: 0;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.company-info {
    width: 100%;
}

.author-info, .poster-info {
    width: 90%;
}