.outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-video {
    width: 70%;
    padding-top: 2vh;
}

#live-video {
    border-radius: 30px;
    border: 2px solid #ccc;
}