:root {
    /* Header */
    --header-bcg: #219EBC;

    /* Button */
    --btn-bcg: #219EBC;
    --btn-border: #219EBC;
    /* --btn-shadow: #023047; */
    --btn-bcg-hover: #023047;
    --btn-border-hover: #8ECAE6;
    /* --btn-shadow-hover: #8ECAE6; */

    /* Footer */
    --footer-bcg: #FB8500;
}

*{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 500;
    /* margin-left: 35%; */
    /* align-content: center; */
    text-align: center;
}

h3{
    font-size: 1.5rem;
    font-weight: 500;
    /* margin-left: 35%; */
    /* align-content: center; */
    text-align: center;
}