.posterDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.poster, .details {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgba(85, 85, 85, 0.82);
    box-shadow: 0 5px 10px #212020;
    border-radius: 5px;
    margin: 15px;
    padding: 0.5px;
    perspective: 1000px;
}

.poster img {
    width: 100%;
    border-radius: 5px;
}

/*Vote Poster display*/
.posterVote {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.posterVote img {
    width: 100%;
    border-radius: 5px;
}

.vote {
    width: 100%;
    display: flex;
    justify-content: left;
}