.posterDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.poster, .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px #212020;
    border-radius: 0px 0px 5px 5px;
    padding: 0.5px;
    perspective: 1000px;
}

.poster img {
    width: 100%;
    border-radius: 5px;
}

/*Vote Poster display*/
.posterVote {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.posterVote img {
    width: 100%;
    border-radius: 5px;
}

.vote {
    width: 100%;
    display: flex;
    justify-content: left;
}

.postersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.posterItem {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.posterImage {
    width: 100%;
    height: 200px;
    aspect-ratio: unset;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.submit-button-disabled {
    background-color: #333333;
    color: #555555;
    cursor: unset;
    border: var(--btn-border) 1px solid;
    box-shadow: 0 4px 4px var(--btn-shadow);
}

.submit-button-disabled:hover {
    background-color: #333333;
    color: #555555;
    cursor: unset;
    border: var(--btn-border) 1px solid;
    box-shadow: 0 4px 4px var(--btn-shadow);
}